/*----Font & Base Variables----*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  /*----Typography----*/
  --font: "Bai Jamjuree", sans-serif;

  /*----Colors----*/
  --green-500: hsl(171, 66%, 44%);
  --blue-100: hsl(233, 100%, 69%);
  --gray-700: hsl(210, 10%, 33%);
  --gray-500: hsl(201, 11%, 66%);
  --footerBg: hsl(220, 18%, 97%);
  --white: hsl(0, 0%, 100%);
  --greenBorder: hsl(171, 66%, 32%);
  --blueBorder: hsl(233, 85%, 36%);
  --greenHover: hsl(171, 60%, 52%);
  --blueHover: hsl(233, 97%, 73%);
}

/*----Reset & Global Style----*/ 
*, *::after, *::before{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
html, body{
  min-height: 100vh;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}
p{
  color: var(--gray-500);
  text-align: center;
  line-height: 1.5;
}
h2{
  color: var(--gray-700);
  text-align: center;
}
h3{
  color: var(--gray-700);
}

body{
  font-family: var(--font);
}

.header-container{
  background: url(images/bg-header-mobile.png);  
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.header-container img{
  margin-block-start: 5.5rem;    
}

.header-container h1{
  color: var(--gray-700);
  font-size: 1.9rem;
  margin-block-start: 4.3rem;
  text-align: center;
}
.header-container p{
  margin-block: 1.2rem 3rem;
  font-size: 1.01rem;
  line-height: 1.6rem;
  }

.top-btn{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  width: 100%;
}
.btn{
  color: var(--white);
  padding: 1.1rem;
  border-radius: 2rem;
  letter-spacing: .1rem;
  font-size: 1rem;
}
.ios{
  background-color: var(--green-500);
  border-bottom: 3px solid var(--greenBorder);
  box-shadow: 0 2px 12px var(--green-500);
  cursor: pointer;
}
.mac{
  background-color: var(--blue-100);
  border-bottom: 3px solid var(--blueBorder);
  box-shadow: 0 2px 12px var(--blue-100);
  cursor: pointer;
}

.ios:hover{
  background-color: var(--greenHover);
}

.mac:hover{
  background-color: var(--blueHover);
}

.main-container{
  text-align: center;
}

.track h2{
  margin-block: 8rem 1rem;
  padding-inline: 1rem;
  font-size: 1.65rem;
}
.track p{
  font-size: 1.01rem;
  margin-block: 1.1rem 0;
  padding-inline: 1.8rem;
  line-height: 1.6;
}

.desktop-area{
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 4rem;  
  padding-inline: 2rem;
  place-items: center;
}

.features h3{
  font-size: 1.45rem;
  margin-block-start: 3.4rem; 
}

.features p{
  font-size: 1.02rem;
  margin-block-start: .8rem;
  line-height: 1.45;
}
.clipboard-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clipboard h3{
  text-transform: capitalize;
  margin-block: 12rem 0rem;
  padding-inline: 2rem;
  font-size: 1.65rem;  
}
.clipboard p{
  font-size: 1.02rem;
  margin-block: 1rem;
  padding-inline: 2rem;
  line-height: 1.6;
}
.mobile-tab{
  margin-block: 3rem 1rem ;
  padding-inline: 1rem;
}
.workflow{
  padding-inline: 2rem;
}
.workflow h3{
  margin-block-start: 5.3rem;
  font-size: 1.65rem;
}
.workflow p{  
  font-size: 1.02rem;
  margin-block-start: .8rem;
}
.info-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.6rem;
  margin-block: 5.8rem 0rem;
}
.info-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container h3{
  font-size: 1.43rem;
  margin-block: 2.6rem 1.2rem;
}
.info-container p{
  font-size: 1.02rem;
  padding-inline: 1.6rem;
  line-height: 1.65;
}

.company-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-block: 8rem 0;
  gap: 4.25rem;
}
.google{
  max-width: 37%;
}
.ibm{
  max-width: 32%;
}
.microsoft{
  max-width: 36%;
}
.hp{
  max-width: 30%;
}
.vector{
  max-width: 28%;
}

.os h3{
  font-size: 1.65rem;
  margin-block-start: 10rem;
  padding-inline: 2rem;
}
.os p{
  font-size: 1.02rem;
  margin-block-start: 1.2rem;
  padding-inline: 2rem;
  line-height: 1.6;
}

.bottom-btn{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  margin-block: 2.9rem;
  padding-inline: 2rem;
}

.footer-container{
  background-color: var(--footerBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 10rem 0;
  gap: 2.6rem;
}
.copyright-image{
  max-width: 15%;
  margin-block-start: 3.6rem;
}
.footer-text{
  font-size: 1.04rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 1.2rem; 
}
.footer-text p{
  font-size: 1.15rem;
  line-height: 1.65;
}
.footer-text p:hover{
  cursor: pointer;
  color: var(--greenHover);
}

.social-icon{
  display: flex;
  margin-block: 0rem 3.1rem;
  gap: 1.8rem;
}
.fa-brands{
  font-size: 1.65rem;
  cursor: pointer;
}
.fa-square-facebook:hover{
  color:hsl(214, 89%, 52%);
}
.fa-twitter:hover{
  color: hsl(203, 89%, 53%) ;
}
.fa-instagram:hover{
  color:hsl(26, 96%, 55%) ;
}


/*----Desktop View-1024px----*/ 

@media screen and (min-width: 64rem){

.header-container{
  background: url(images/bg-header-desktop.png);  
  background-repeat: no-repeat;
  background-size: contain;
}

.header-container img{
  margin-block-start: 6rem;
}
.header-container h1{
  font-size: 2.72rem;
  margin-block-start: 3.8rem;
}
.header-container p{
  font-size: 1.24rem;
  font-weight: 500;
  margin-block-start: 1.02rem;
  max-width: 52%;
  line-height: 1.5;
}

.top-btn{
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
}
.btn{
  padding: 1rem 2.2rem;
  letter-spacing: .05rem;
  font-size: 1.1rem;
}

.main-container{
  text-align: center;
}

.track h2{
  font-size: 2.12rem;
  margin-block-start: 7.2rem;
  
}
.track p{
  font-size: 1.1rem;
  font-weight: 500;
  max-width: 53%;
  margin-block-start: 1.4rem;
  margin-inline: auto;
  line-height: 1.75;
}

.desktop-area{
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-block-start: 4.8rem; 

}
.desktop-area img{
  transform: translateX(-3.72rem);
  max-width: 50rem;
}
.features h3{
  font-size: 1.44rem;  
  text-align: left;
  margin-block-start: 2rem;
}
.features p{
  font-size: .99rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.9;
  margin-block-start: .5rem;    
  margin-block-end: 3.5rem; 
  max-width: 60%;
}

.clipboard h3{
  margin-block-start: 9.6rem;
  font-size: 2.15rem;  
}
.clipboard p{
  font-size: 1.14rem;
  margin-block-start: 1.25rem;
  max-width: 80%;
  margin-inline: auto;
}
.mobile-tab img{
  margin-block-start: 2.2rem;
}

.workflow h3{
  font-size: 2.14rem;
  margin-block-start: 3.3rem;
}
.workflow p{
 font-size: 1.14rem;
 margin-block-start: 1.4rem; 
}
.info-container{
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: 3.2rem;
  max-width: 77%; 
  margin-inline: auto;
  gap: 1rem;  
}
.info-container h3{
  margin-block: 2.6rem 1.2rem;
}
.info-container p{
  font-size: 1.015rem;
  line-height: 1.8;
  margin-inline: 0;
  padding-inline: 0;
}
.create img{
  padding-block-start: 1.2rem;
}
.company-icon{
  flex-direction: row;
  gap: 0;
  margin-block: 9.8rem 0;
  padding-inline: 4.5rem;
}
.os h3{
  font-size: 2.13rem;
  margin-block: 10rem 0;
  padding-inline: 2rem;
}
.os p{
  font-size: 1.14rem;
  max-width: 53%;
  margin-inline: auto;
}
.bottom-btn{
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
}
.footer-container{
  flex-direction: row;
  justify-content: space-evenly;
  margin-block: 9.5rem 0;
  padding-block: 2.3rem;
  padding-inline: 4.5rem ; 
}
.copyright-image{
  max-width: 4%;
  margin-block-start: 0;
}
.footer-text{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  font-size: 1.04rem;
  row-gap: .62rem; 
  column-gap: 4.5rem; 
  margin-inline-end: 9.5rem ;
  place-items: start;
}
.social-icon{
  display: flex;
  margin-block: 0;
  gap: 1rem;
}
}